<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mamabe.posappandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PaymentSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MenuSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddOrderActivity"
            android:label="@string/title_activity_add_order"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.KitchenActivity"></activity>
    </application>

</manifest>